@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;600&family=Poppins&display=swap');

*{
    margin: none;
    padding: none;
    box-sizing: border-box;
    border: none;
}

html, body{
    height: 100vh;
    background-color: black;
    background-image: url(./Images/moon3.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    color: whitesmoke;
    padding-top: -220;
    
}

.icon{
    display: flex;
    justify-content: end;
    justify-items: end;
    margin: none ;
    padding: none;
}

.dark-mode{
    background-color: rgba(0, 0, 0, 0.845);
        background-image: url(./Images/stars.jpg);
        background-attachment: local;
    color: whitesmoke;
}


#nav{
    display: flex;
   justify-content: end;
   
   margin: 4rem;

}

.icon{
    margin: 2rem;
}

header{
    display: flex;
    flex-direction: column;
}
#heading{
   font-size: 4vw;
    text-align: center;
    padding: 2rem;
}

@media only screen and (max-width: 600px) {
    #heading {
        font-size: 10vw;
    }
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    justify-content: center;
    justify-items: center;
    margin: auto;
    padding-bottom: 2rem;

    width: 60ch;
}

#red{
    color: red;
    font-family: 'Oxanium', cursive;
    font-size: 2rem ;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    p, #red {
       font-size: 1rem;
       width: 90vw;
    }
}

hr{
    background-color: red;
}

.dark-mode hr{
    background-color: white;
}

button, .reset{
    background-color: rgb(31, 31, 188);
    color:whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding: 18px;
    margin: auto;
    outline: 0.2rem solid rgba(255, 0, 0, 0.785) ;
    text-align: center;
    width: 90vw;
}

.reset{
    border: yellow;
    background-color: red;
    padding: .75rem;
    width: fit-content;
}

button:hover, .reset:hover{
    background-color: #ffe11bd5;
    color: black;
    outline: 0.2rem solid red ;
}

@media only screen and (max-width: 600px) {
    button {
        
    justify-items: baseline;
        
    }
}

@media only screen and (max-width: 600px) {
    .reset {

     width: fit-content;
     padding: 5px 9px;
     

    }
}



.game-container{
    display: flex;
    flex-wrap: wrap;
    
    margin: 4rem;
}

@media only screen and (max-width: 600px) {
    .game-container {
        flex-direction: column;
    }
}

.enemy-ship{
    margin: 56px;
    padding: 2rem;
}

.databox{
    border: .4rem dotted blue ;
    list-style-type: none;
    
}

.databox p{
    font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {
    .enemy-ship img {
        width: 35vw;
        flex-wrap: nowrap;
    
    }
}

.main-ship{
    display: flex;
    flex-direction: column;
    /* padding: .5rem;    */
}



.disappear{
    display: none;
}

@media only screen and (max-width: 600px) {
    .main-ship img {
        width: 50vw;
    }
}



footer{
    text-align: center;
}